.ribbon-bow {
  pointer-events: none;
}

.ribbon-large {
  pointer-events: none;
}

.ribbon-outline {
  pointer-events: none;
}

.sparkle {
  pointer-events: none;
}

.pita-divider {
  pointer-events: none;
}

.small-stars {
  pointer-events: none;
}
